:root {
  --primary-color: #ed2b88;
  --accent-color: #0091ff;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  box-sizing: border-box;
  background: #f1f1f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

main {
  position: relative;
  z-index: 9;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

section.page {
  box-shadow: 0 .25rem 2rem rgba(0,0,0,0.05);
  background: white;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
section.page.au-enter {
  transform: translateX(100%);
}
section.page.au-enter-active {
  animation: slideLeftIn .6s;
}
section.page.au-leave-active {
  animation: slideLeftOut .6s;
}

@keyframes slideLeftIn {
  0% {
    left: 100%
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes slideLeftOut {
  0% {
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    left: -100%;
  }
}
